{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome":"65"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    ["transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }]
  ]
}
