PORT=3005
DOCROOT=/Users/somerando/Dropbox/wiki
AUTH0_DOMAIN=yoursite.auth0.com
AUTH0_CLIENT_ID=insertclientidhere
AUTH0_CLIENT_SECRET=insertclientsecrethere
DROPBOX_ACCESS_TOKEN=inserttokenhere
DROPBOX_ROOT=wiki

REDIS_URL=redis://127.0.0.1:6379